@using JSLess

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/Scripts/jquery-1.8.3.min.js"></script>
    <script src="/Scripts/jsless-core.js"></script>
    <script src="/Scripts/jsless-invoke.js"></script>
    <script src="/Scripts/jsless-methods.js"></script>
    <script src="/Scripts/jsless-behaviors.js"></script>
    <script src="/Scripts/jsless.custom.js"></script>

    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()

    @RenderSection("Foot", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").jsless({ debug: true });
        });
    </script>
</body>
</html>
